# Terraform files
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Ansible files
*.retry
*.vault
*.log

# General files
*.swp
*.bak
*.tmp
*.DS_Store
.idea/
.vscode/
*.pyc
__pycache__/
.env
*.env

#this is just another repo forked in my account already
/gtp5g

#Holds codes and pcap files
/DataSets_Codes

#holds traces collected from upf
/Experiments

#DVWA server ignring
/Servers/DVWA/
/Servers/dvwa_keys/
/Servers/DVWA2/

## ignoring keys
/5g-infra/ansible/files/
/5g-ami-builder

#Ignor based on file type:
**/*.csv
**/*.csv
**/*.pkl
**/*.pth
**/*.pcap
**/*.deb
**/*.pyc
